:root {
    --color-primary: #3f3f3f;
    --color-secondary: #fed035;
    --color-tertiary: #1A2024;
    --color-success: #29AD61;
    --color-warning: #F07828;
    --color-danger: #C61B25;
    --color-dark: #192024;
    --color-light: #DFE4E6;
    --color-light2: #F5F7F8;
    --color-blue-light: #fed035;
    --color-blue-light2: #fed035;
    --color-blue-alpha: #fecf3586;
}


html {
    font-size: 90%
}


body,
p {
    font-family: 'FranceTV Brown';
    user-select: none;
    color: #555;
}


.gridList,
.save,
.rules,
.grids,
.gameTitle {
    display: none !important;
}


.gameList {
    border-radius: 8px;
}


.gameHeader {
    border-bottom: solid 1px #E6E9EB;
}


.form-select {
    border-radius: 25px;
    width: fit-content;
    display: inline-block;
    padding-right: 2rem;
    font-weight: 600;
}


.game {
    background: url('https://sdk.mygamify.fr/examples/franceinfo/icons/grid.svg');
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
    border: solid 2px #3f3f3f54;
    /* height: 100%; */
    color: var(--color-dark);
    border-radius: 8px;
}


.game .title {
    font-weight: bold;
    margin-bottom: .5rem;
}


.game.locked {
    background: url('https://sdk.mygamify.fr/examples/franceinfo/icons/grid-locked.svg');
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
    border-color: #DFE4E6;
    color: var(--color-primary);
}


.game .difficulty {
    /* width: 18px; */
    height: 20px;
    border-radius: 25px;
    background: var(--color-blue-light2);
    color: var(--color-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    padding: .75rem 1rem;
}


.game.locked .difficulty {
    background: var(--color-secondary);
    color: #333 !important;
}


.ranking .ranking-row.active {
    background: #f5f5f5;
}


.active .podium-row {
    border: solid 1px var(--color-primary);
    background-color: var(--color-blue-light2);
}


.nav-pills .nav-link.active {
    background-color: var(--color-primary);
}


.dico span {
    padding-left: .5rem;
    width: 25px;
    display: inline-block;
    font-weight: bold;
    color: var(--color-secondary);
}


.dico a {
    border: solid 1px transparent;
}


.dico a.select {
    border: solid 1px;
    color: var(--color-primary);
    font-weight: bold;
}


.dico a.disabled {
    text-decoration: line-through;
}


.gameDefinition {
    font-size: 20px !important;
    color: var(--color-dark);
}


.gameDefinition span {
    margin-right: 1rem;
    color: var(--color-primary);
    font-weight: bold;
}


@-webkit-keyframes bgFlash {

    0% {
        background-color: var(--color-secondary)
    }

}

#grid .play span {
    background-color: var(--color-tertiary) !important;
    border-right: solid 1px var(--color-tertiary) !important;
    border-bottom: solid 1px var(--color-tertiary) !important;
}


#grid .column.active span {
    color: #fff !important;
    -webkit-animation: bgFlash 2s infinite;
    -moz-animation: bgFlash 2s infinite;
    -o-animation: bgFlash 2s infinite;
    animation: bgFlash 2s infinite;
}


#grid .column.active.play span {
    color: #fff !important;
    background-color: var(--color-primary) !important;
    border-color: var(--color-tertiary) !important;
}


#grid .select span {
    background-color: var(--color-blue-alpha);
    color: var(--color-primary) !important;
}


#grid .active span {
    /* background-color: var(--color-primary) !important; */
    color: #fff !important;
    opacity: 1
}


.play span div.select {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
}


#grid .select.vertical span {
    border-color: var(--color-primary);
    border-left: solid 1px var(--color-primary);
}


#grid .select.horizontal span {
    border-color: var(--color-primary);
    border-bottom: solid 1px var(--color-primary);
    border-top: solid 1px var(--color-primary);
}


#grid .select.sy span {
    border-color: var(--color-primary);
    border-left: solid 1px var(--color-primary);
}


#grid .select.sx span {
    border-color: var(--color-primary);
    border-bottom: solid 1px var(--color-primary);
    border-top: solid 1px var(--color-primary);
}


#grid .game_help span {
    background-color: #E7FBEC;
    border-color: var(--color-success) !important;
    /* box-shadow: inset 0px 0px 0px 3px var(--color-success); */
}


#grid span.game_help {
    box-shadow: inset 0px 0px 0px 5px var(--color-success);
}


#grid .column.validated {
    pointer-events: none;
    cursor: default;
}


#grid .column.validated {
    font-weight: bold !important;
}


#grid .column.active.validated span {
    /* background-color: var(--color-dark) !important; */
    /* border-color: var(--color-dark) !important; */
    color: var(--color-dark) !important;
}


#grid .column.select.validated span {
    /* border-color: var(--color-dark) !important; */
    color: var(--color-dark) !important;
}


#grid .validated span {
    color: var(--color-dark) !important;
    transition: all .5s;
}


#grid .validated.anim.column::before {
    opacity: 1;
    transform: scale(0.8);
}


#grid .column.validated.anim:not(.active) span {
    color: var(--color-primary) !important;
    background: transparent !important;
}


@media screen and (min-width: 768px) {
    .gameDefinition {
        display: none !important;
    }


    .gameDefinition {
        font-size: 16px !important;
    }


    .gameDefinition span {
        width: 35px;
    }


    /* #grid .game_help span {
        box-shadow: inset 0px 0px 0px 3px var(--color-success);
    }
 */

    #grid span.game_help {
        box-shadow: inset 0px 0px 0px 3px var(--color-success);
    }


    #grid .game_help div {
        display: none;
    }
